  $chat-x: 363px;
  $chat-y: 0px;
  $chat-offset-x: -363px;
  $chat-offset-y: 0px;
  $chat-width: 32px;
  $chat-height: 32px;
  $chat-total-width: 2374px;
  $chat-total-height: 34px;
  $chat-image: '../images/graphics/sprite.png';
  $chat: 363px 0px -363px 0px 32px 32px 2374px 34px '../images/graphics/sprite.png';
  $checkmark-green-small-x: 99px;
  $checkmark-green-small-y: 0px;
  $checkmark-green-small-offset-x: -99px;
  $checkmark-green-small-offset-y: 0px;
  $checkmark-green-small-width: 18px;
  $checkmark-green-small-height: 18px;
  $checkmark-green-small-total-width: 2374px;
  $checkmark-green-small-total-height: 34px;
  $checkmark-green-small-image: '../images/graphics/sprite.png';
  $checkmark-green-small: 99px 0px -99px 0px 18px 18px 2374px 34px '../images/graphics/sprite.png';
  $checkmark-green-x: 157px;
  $checkmark-green-y: 0px;
  $checkmark-green-offset-x: -157px;
  $checkmark-green-offset-y: 0px;
  $checkmark-green-width: 24px;
  $checkmark-green-height: 26px;
  $checkmark-green-total-width: 2374px;
  $checkmark-green-total-height: 34px;
  $checkmark-green-image: '../images/graphics/sprite.png';
  $checkmark-green: 157px 0px -157px 0px 24px 26px 2374px 34px '../images/graphics/sprite.png';
  $checkmark-orange-small-x: 81px;
  $checkmark-orange-small-y: 0px;
  $checkmark-orange-small-offset-x: -81px;
  $checkmark-orange-small-offset-y: 0px;
  $checkmark-orange-small-width: 18px;
  $checkmark-orange-small-height: 18px;
  $checkmark-orange-small-total-width: 2374px;
  $checkmark-orange-small-total-height: 34px;
  $checkmark-orange-small-image: '../images/graphics/sprite.png';
  $checkmark-orange-small: 81px 0px -81px 0px 18px 18px 2374px 34px '../images/graphics/sprite.png';
  $checkmark-orange-x: 181px;
  $checkmark-orange-y: 0px;
  $checkmark-orange-offset-x: -181px;
  $checkmark-orange-offset-y: 0px;
  $checkmark-orange-width: 24px;
  $checkmark-orange-height: 26px;
  $checkmark-orange-total-width: 2374px;
  $checkmark-orange-total-height: 34px;
  $checkmark-orange-image: '../images/graphics/sprite.png';
  $checkmark-orange: 181px 0px -181px 0px 24px 26px 2374px 34px '../images/graphics/sprite.png';
  $divider-green-x: 770px;
  $divider-green-y: 0px;
  $divider-green-offset-x: -770px;
  $divider-green-offset-y: 0px;
  $divider-green-width: 224px;
  $divider-green-height: 7px;
  $divider-green-total-width: 2374px;
  $divider-green-total-height: 34px;
  $divider-green-image: '../images/graphics/sprite.png';
  $divider-green: 770px 0px -770px 0px 224px 7px 2374px 34px '../images/graphics/sprite.png';
  $divider-orange-long-x: 994px;
  $divider-orange-long-y: 0px;
  $divider-orange-long-offset-x: -994px;
  $divider-orange-long-offset-y: 0px;
  $divider-orange-long-width: 394px;
  $divider-orange-long-height: 7px;
  $divider-orange-long-total-width: 2374px;
  $divider-orange-long-total-height: 34px;
  $divider-orange-long-image: '../images/graphics/sprite.png';
  $divider-orange-long: 994px 0px -994px 0px 394px 7px 2374px 34px '../images/graphics/sprite.png';
  $divider-orange-x: 546px;
  $divider-orange-y: 0px;
  $divider-orange-offset-x: -546px;
  $divider-orange-offset-y: 0px;
  $divider-orange-width: 224px;
  $divider-orange-height: 7px;
  $divider-orange-total-width: 2374px;
  $divider-orange-total-height: 34px;
  $divider-orange-image: '../images/graphics/sprite.png';
  $divider-orange: 546px 0px -546px 0px 224px 7px 2374px 34px '../images/graphics/sprite.png';
  $drop-shadow-x: 1388px;
  $drop-shadow-y: 0px;
  $drop-shadow-offset-x: -1388px;
  $drop-shadow-offset-y: 0px;
  $drop-shadow-width: 986px;
  $drop-shadow-height: 10px;
  $drop-shadow-total-width: 2374px;
  $drop-shadow-total-height: 34px;
  $drop-shadow-image: '../images/graphics/sprite.png';
  $drop-shadow: 1388px 0px -1388px 0px 986px 10px 2374px 34px '../images/graphics/sprite.png';
  $file-x: 306px;
  $file-y: 0px;
  $file-offset-x: -306px;
  $file-offset-y: 0px;
  $file-width: 27px;
  $file-height: 31px;
  $file-total-width: 2374px;
  $file-total-height: 34px;
  $file-image: '../images/graphics/sprite.png';
  $file: 306px 0px -306px 0px 27px 31px 2374px 34px '../images/graphics/sprite.png';
  $icon-arrow-left-x: 10px;
  $icon-arrow-left-y: 0px;
  $icon-arrow-left-offset-x: -10px;
  $icon-arrow-left-offset-y: 0px;
  $icon-arrow-left-width: 12px;
  $icon-arrow-left-height: 29px;
  $icon-arrow-left-total-width: 2374px;
  $icon-arrow-left-total-height: 34px;
  $icon-arrow-left-image: '../images/graphics/sprite.png';
  $icon-arrow-left: 10px 0px -10px 0px 12px 29px 2374px 34px '../images/graphics/sprite.png';
  $icon-arrow-right-x: 22px;
  $icon-arrow-right-y: 0px;
  $icon-arrow-right-offset-x: -22px;
  $icon-arrow-right-offset-y: 0px;
  $icon-arrow-right-width: 12px;
  $icon-arrow-right-height: 29px;
  $icon-arrow-right-total-width: 2374px;
  $icon-arrow-right-total-height: 34px;
  $icon-arrow-right-image: '../images/graphics/sprite.png';
  $icon-arrow-right: 22px 0px -22px 0px 12px 29px 2374px 34px '../images/graphics/sprite.png';
  $icon-check-green-x: 0px;
  $icon-check-green-y: 0px;
  $icon-check-green-offset-x: 0px;
  $icon-check-green-offset-y: 0px;
  $icon-check-green-width: 10px;
  $icon-check-green-height: 11px;
  $icon-check-green-total-width: 2374px;
  $icon-check-green-total-height: 34px;
  $icon-check-green-image: '../images/graphics/sprite.png';
  $icon-check-green: 0px 0px 0px 0px 10px 11px 2374px 34px '../images/graphics/sprite.png';
  $icon-group-small-x: 205px;
  $icon-group-small-y: 0px;
  $icon-group-small-offset-x: -205px;
  $icon-group-small-offset-y: 0px;
  $icon-group-small-width: 25px;
  $icon-group-small-height: 17px;
  $icon-group-small-total-width: 2374px;
  $icon-group-small-total-height: 34px;
  $icon-group-small-image: '../images/graphics/sprite.png';
  $icon-group-small: 205px 0px -205px 0px 25px 17px 2374px 34px '../images/graphics/sprite.png';
  $icon-group-x: 280px;
  $icon-group-y: 0px;
  $icon-group-offset-x: -280px;
  $icon-group-offset-y: 0px;
  $icon-group-width: 26px;
  $icon-group-height: 23px;
  $icon-group-total-width: 2374px;
  $icon-group-total-height: 34px;
  $icon-group-image: '../images/graphics/sprite.png';
  $icon-group: 280px 0px -280px 0px 26px 23px 2374px 34px '../images/graphics/sprite.png';
  $icon-leaf-x: 64px;
  $icon-leaf-y: 0px;
  $icon-leaf-offset-x: -64px;
  $icon-leaf-offset-y: 0px;
  $icon-leaf-width: 17px;
  $icon-leaf-height: 23px;
  $icon-leaf-total-width: 2374px;
  $icon-leaf-total-height: 34px;
  $icon-leaf-image: '../images/graphics/sprite.png';
  $icon-leaf: 64px 0px -64px 0px 17px 23px 2374px 34px '../images/graphics/sprite.png';
  $icon-member-x: 117px;
  $icon-member-y: 0px;
  $icon-member-offset-x: -117px;
  $icon-member-offset-y: 0px;
  $icon-member-width: 18px;
  $icon-member-height: 18px;
  $icon-member-total-width: 2374px;
  $icon-member-total-height: 34px;
  $icon-member-image: '../images/graphics/sprite.png';
  $icon-member: 117px 0px -117px 0px 18px 18px 2374px 34px '../images/graphics/sprite.png';
  $icon-nation-small-x: 230px;
  $icon-nation-small-y: 0px;
  $icon-nation-small-offset-x: -230px;
  $icon-nation-small-offset-y: 0px;
  $icon-nation-small-width: 25px;
  $icon-nation-small-height: 15px;
  $icon-nation-small-total-width: 2374px;
  $icon-nation-small-total-height: 34px;
  $icon-nation-small-image: '../images/graphics/sprite.png';
  $icon-nation-small: 230px 0px -230px 0px 25px 15px 2374px 34px '../images/graphics/sprite.png';
  $icon-nation-x: 464px;
  $icon-nation-y: 0px;
  $icon-nation-offset-x: -464px;
  $icon-nation-offset-y: 0px;
  $icon-nation-width: 40px;
  $icon-nation-height: 25px;
  $icon-nation-total-width: 2374px;
  $icon-nation-total-height: 34px;
  $icon-nation-image: '../images/graphics/sprite.png';
  $icon-nation: 464px 0px -464px 0px 40px 25px 2374px 34px '../images/graphics/sprite.png';
  $icon-pdf-x: 48px;
  $icon-pdf-y: 0px;
  $icon-pdf-offset-x: -48px;
  $icon-pdf-offset-y: 0px;
  $icon-pdf-width: 16px;
  $icon-pdf-height: 16px;
  $icon-pdf-total-width: 2374px;
  $icon-pdf-total-height: 34px;
  $icon-pdf-image: '../images/graphics/sprite.png';
  $icon-pdf: 48px 0px -48px 0px 16px 16px 2374px 34px '../images/graphics/sprite.png';
  $icon-quotation-mark-x: 504px;
  $icon-quotation-mark-y: 0px;
  $icon-quotation-mark-offset-x: -504px;
  $icon-quotation-mark-offset-y: 0px;
  $icon-quotation-mark-width: 42px;
  $icon-quotation-mark-height: 34px;
  $icon-quotation-mark-total-width: 2374px;
  $icon-quotation-mark-total-height: 34px;
  $icon-quotation-mark-image: '../images/graphics/sprite.png';
  $icon-quotation-mark: 504px 0px -504px 0px 42px 34px 2374px 34px '../images/graphics/sprite.png';
  $icon-star-x: 135px;
  $icon-star-y: 0px;
  $icon-star-offset-x: -135px;
  $icon-star-offset-y: 0px;
  $icon-star-width: 22px;
  $icon-star-height: 21px;
  $icon-star-total-width: 2374px;
  $icon-star-total-height: 34px;
  $icon-star-image: '../images/graphics/sprite.png';
  $icon-star: 135px 0px -135px 0px 22px 21px 2374px 34px '../images/graphics/sprite.png';
  $icon-student-x: 395px;
  $icon-student-y: 0px;
  $icon-student-offset-x: -395px;
  $icon-student-offset-y: 0px;
  $icon-student-width: 33px;
  $icon-student-height: 17px;
  $icon-student-total-width: 2374px;
  $icon-student-total-height: 34px;
  $icon-student-image: '../images/graphics/sprite.png';
  $icon-student: 395px 0px -395px 0px 33px 17px 2374px 34px '../images/graphics/sprite.png';
  $icon-tags-x: 255px;
  $icon-tags-y: 0px;
  $icon-tags-offset-x: -255px;
  $icon-tags-offset-y: 0px;
  $icon-tags-width: 25px;
  $icon-tags-height: 17px;
  $icon-tags-total-width: 2374px;
  $icon-tags-total-height: 34px;
  $icon-tags-image: '../images/graphics/sprite.png';
  $icon-tags: 255px 0px -255px 0px 25px 17px 2374px 34px '../images/graphics/sprite.png';
  $icon-x-black-x: 333px;
  $icon-x-black-y: 0px;
  $icon-x-black-offset-x: -333px;
  $icon-x-black-offset-y: 0px;
  $icon-x-black-width: 30px;
  $icon-x-black-height: 30px;
  $icon-x-black-total-width: 2374px;
  $icon-x-black-total-height: 34px;
  $icon-x-black-image: '../images/graphics/sprite.png';
  $icon-x-black: 333px 0px -333px 0px 30px 30px 2374px 34px '../images/graphics/sprite.png';
  $icon-x-green-x: 34px;
  $icon-x-green-y: 0px;
  $icon-x-green-offset-x: -34px;
  $icon-x-green-offset-y: 0px;
  $icon-x-green-width: 14px;
  $icon-x-green-height: 14px;
  $icon-x-green-total-width: 2374px;
  $icon-x-green-total-height: 34px;
  $icon-x-green-image: '../images/graphics/sprite.png';
  $icon-x-green: 34px 0px -34px 0px 14px 14px 2374px 34px '../images/graphics/sprite.png';
  $search-button-x: 428px;
  $search-button-y: 0px;
  $search-button-offset-x: -428px;
  $search-button-offset-y: 0px;
  $search-button-width: 36px;
  $search-button-height: 27px;
  $search-button-total-width: 2374px;
  $search-button-total-height: 34px;
  $search-button-image: '../images/graphics/sprite.png';
  $search-button: 428px 0px -428px 0px 36px 27px 2374px 34px '../images/graphics/sprite.png';

  @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
  }

  @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
  }

  @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
  }

  @mixin sprite-image($sprite) {
    background-image: url(nth($sprite, 9));
  }

  @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
  }
