                
                <section class="section">
                    <h2>Benefits</h2>
                    <ul class="og-grid thumbnail-grid">
                        <li>
                            <span class="ribbon left">New</span>
                            <a href="#">
                                <img src="images/photography/benefits/member-tools.jpg" alt="ASTD Member Tools">
                                <h4>ASTD Member Tools</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">ASTD Member Tools</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/td-magazine.jpg" alt="T+D Magazine">
                                <h4><em>T+D</em> Magazine</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#"><em>T+D</em> Magazine</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/watch-learn-webcasts.jpg" alt="Watch & Learn Webcasts">
                                <h4>Watch &amp; Learn Webcasts</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">Watch &amp; Learn Webcasts</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/links.jpg" alt="ASTD Links">
                                <h4><em>ASTD Links</em></h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">ASTD Links</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/launch.jpg" alt="ASTD Online Library">
                                <h4>ASTD Online Library</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">ASTD Online Library</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/whitepapers.jpg" alt="Whitepapers">
                                <h4>Whitepapers</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">Whitepapers</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/industry-report.jpg" alt="Annual State of the Industry Report">
                                <h4>Annual <em>State of the Industry</em> Report</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">Annual <em>State of the Industry</em> Report</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/social-media.jpg" alt="Social Media">
                                <h4>Social Media</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">Social Media</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/buzz.jpg" alt="The Buzz">
                                <h4><em>The Buzz</em></h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#"><em>The Buzz</em></a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/photography/benefits/network.jpg" alt="Expand Your Network">
                                <h4>Expand Your Network</h4>
                            </a>
                            <div class="og-expander">
                                <div class="og-expander-inner row">
                                    <h3>
                                        <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                                        <a href="#">Expand Your Network</a>
                                    </h3>
                                    <p><em>T+D</em> covers industry trends, best practices, career development, product reviews, and more.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>