                
                <section class="section callout-container">
                    <header class="callout-container-header">
                        <h2>Recommended for You</h2>
                    </header>
                    <section>
                        <ul class="articles">
                            <li class="featured-article">
                                <span class="ribbon featured">Featured</span>
                                <div class="row">
                                    <div class="span3">
                                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                                    </div>
                                    <div class="span9">
                                        <header class="article-header">
                                            <small class="meta">
                                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                                            </small>
                                            <h3><a href="#">Article Title Goes Here</a></h3>
                                        </header>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                                        <ul class="article-info">
                                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3">
                                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                                    </div>
                                    <div class="span9">
                                        <header class="article-header">
                                            <small class="meta">
                                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                                            </small>
                                            <h3><a href="#">Article Title Goes Here</a></h3>
                                        </header>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                                        <ul class="article-info">
                                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3">
                                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                                    </div>
                                    <div class="span9">
                                        <header class="article-header">
                                            <small class="meta">
                                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                                            </small>
                                            <h3><a href="#">Article Title Goes Here</a></h3>
                                        </header>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                                        <ul class="article-info">
                                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="span3">
                                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                                    </div>
                                    <div class="span9">
                                        <header class="article-header">
                                            <small class="meta">
                                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                                            </small>
                                            <h3><a href="#">Article Title Goes Here</a></h3>
                                        </header>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                                        <ul class="article-info">
                                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </section>