                
                <footer class="dashboard-footer">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h4><em>Infoline</em></h4>
                                </th>
                                <th>
                                    <h4>E-Books</h4>
                                </th>
                                <th>
                                    <h4>CoP Premium Content</h4>
                                </th>
                                <th>
                                    <h4>Research Reports</h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-premier-content">
                                    <strong class="callout-label">1</strong>
                                    <em>claimed 0</em>
                                </td>
                                <td class="table-premier-content">
                                    <strong class="callout-label">1</strong>
                                    <em>claimed 0</em>
                                </td>
                                <td class="table-premier-content">
                                    <strong class="callout-label">3</strong>
                                    <a href="#"><em>claimed 1</em></a>
                                </td>
                                <td class="table-premier-content">
                                    <a href="#"><em>claimed 1</em></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="button secondary full">Choose</a>
                                </td>
                                <td>
                                    <a href="#" class="button secondary full">Choose</a>
                                </td>
                                <td>
                                    <a href="#" class="button secondary full">Manage</a>
                                </td>
                                <td>
                                    <a href="#" class="button secondary full">Purchase More</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </footer>