        
        <div class="member-dashboard">
            <header class="dashboard-header row">
                <nav class="nav-dashboard">
                    <ul>
                        <li>
                            <a href="#"><span class="icon icon-member"></span> Edit My Profile</a>
                        </li>
                        <li>
                            <a href="#"><span class="icon icon-nation-small"></span> Find My ASTD Chapter</a>
                        </li>
                    </ul>
                </nav>
                <h2>Welcome, First Name.</h2>
            </header>
            <div class="row">
                <div class="span3">
                    <img src="images/graphics/logo-astd-professional-member.png" alt="ASTD Professional Member">
                    <aside class="alert-container">
                        <section><strong>2</strong> months left until membership expires.</section>
                        <div class="row">
                            <div class="span5">
                                <a href="#" class="button full">Renew</a>
                            </div>
                            <div class="span7">
                                <a href="#" class="button full">Upgrade</a>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="span2 dashboard-section">
                    <header>
                        <h4>ASTD Rewards</h4>
                    </header>
                    <section>
                        <strong class="callout-label">15</strong>
                        <strong><a href="#">Use Points</a></strong>
                    </section>
                </div>
                <div class="span7 dashboard-section">
                    <header>
                        <h4>Your Communitities</h4>
                        <a href="#"><em>Upgrade to Professional Plus to Access All Communities</em></a>
                    </header>
                    <section class="row">
                        <ul class="span5">
                            <li><strong><span class="icon icon-check-green"></span> <a href="#">Workforce Development</a></strong></li>
                            <li><strong><span class="icon icon-check-green"></span> <a href="#">Human Capital</a></strong></li>
                            <li><strong><span class="icon icon-check-green"></span> <a href="#">Government</a></strong></li>
                            <li><strong><span class="icon icon-check-green"></span> <a href="#">Learning and Development</a></strong></li>
                        </ul>
                        <ul class="span7">
                            <li><strong>Career Development </strong><a href="#"><em>(add for $30)</em></a></li>
                            <li><strong>Learning Technologies </strong><a href="#"><em>(add for $30)</em></a></li>
                            <li><strong>Global HRD </strong><a href="#"><em>(add for $30)</em></a></li>
                            <li><strong>Sales Enablement </strong><a href="#"><em>(add for $30)</em></a></li>
                            <li><strong>Senior Leaders and Executives </strong><a href="#"><em>(add for $30)</em></a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div><!-- /.member-dashboard -->