.og-expander {
    background: $white;
    box-shadow: 0 2px 5px $lighter-gray;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: auto;
    @include transition(height 0.2s ease-in-out);
    width: 100%;
    z-index: 10;

    .active & {
        height: 350px;
        @include transition(height 0.5s ease-in-out 0.2s);
    }

    .thumbnail-grid .active & {
        height: 200px;
    }

    .pill-grid .active & {
        height: 150px;
        margin-top: 16px;
    }
}

.og-expander-inner {
    padding: $page-padding*3;

    .description-container {
        border-left: 1px solid $lighter-gray;
        padding-left: $page-padding*2;
    }
}

.subscription {
    border-left: 1px solid $lighter-gray;
    display: inline-block;
    padding: $page-padding $page-padding*2;

    &:first-child {
        border-left: 0;
        padding-left: 0;
    }

    table {
        margin: $page-v-rhythm 0 $page-v-rhythm*1.5;
    }
}

.table-simple {
    @include font-size(14);

    td,
    th {
        min-width: 90px;
        padding: 5px 10px;

        &:first-child {
            padding-left: 0;
        }
    }

    thead {
        th {
            color: $gray;
            padding: 5px 10px;
            text-align: center;

            strong {
                border-bottom: 1px solid $light-gray;
                display: block;
                padding: 0 0 5px;
                text-transform: uppercase;
            }
        }
    }

    tbody {
        th {
            text-align: left;
        }

        td {
            text-align: center;
        }
    }
}