.articles {
    @include font-size(13);

    .span9 {
        padding-left: $page-padding;
    }

    h3 {
        font-family: $font-stack;
        margin: 5px 0 10px;
    }

    img {
        @include image-styles;
    }

    p {
        color: #666;
        @include font-size(13);
        line-height: 1.4;
    }

    > li {
        border-top: 1px solid $cerulean;
        @include clearfix;
        display: block;
        padding: $page-v-rhythm*1.5 0 0;
        margin: 0 0 $page-v-rhythm*1.5;
        position: relative;

        .search-results & {
            border-top: 1px solid $light-gray;
        }

        &.featured-article {
            border-top: 0;
            margin: $page-v-rhythm*1.5 0 0;

            + li {
                border-top: 0;
            }
        }
    }
}

.article-info {
    @include font-size(12);

    li {
        margin: 5px 0 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .search-results & {
        li {
            display: inline-block;
            margin-right: $page-padding*2;
        }
    }
}

.featured-article {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .3);
    padding: $page-padding*1.5 !important;

    .search-results & {
        border-radius: 0;
        border: 1px solid $lighter-gray;
        box-shadow: 0 3px 8px -3px rgba(0, 0, 0, .2);
    }
}

.meta {
    
    .divider {
        color: $light-gray;
        display: inline-block;
        padding: 0 5px;
    }

    .notice {
        color: $orange;
        display: inline-block;
        margin-right: 5px;
        text-transform: uppercase;
    }

    time {
        font-weight: 600;
    }

}