
    <div class="member-banner row">
        <div class="container">
            <div class="span6">
                <p>ASTD is the leading association for training and development learning professionals. Our members receive exclusive access to valuable research tools, timely publications, networking opportunities, product and conference discounts, and professional development.</p>
                <p><a href="#"><span class="icon icon-file"></span> Download our Membership Brochure</a></p>
            </div>
            <div class="span6">
                <div class="video-container">
                    <img src="images/graphics/placeholder/video.gif" alt="Video Placeholder">
                </div>
            </div>
        </div>
        <div class="icon-drop-shadow icon"></div>
    </div>