        
        <div class="membership-table-container">
            <table class="membership-table">
                <tbody>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Community of Practice premium content</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container align-left">
                                <span class="icon icon-divider-green"></span>
                                <strong>4</strong> per year, $30 each additional
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container align-left">
                                <span class="icon icon-divider-orange"></span>
                                <strong>unlimited</strong> access
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Research reports (full)</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                &mdash;
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container align-left">
                                <strong>1</strong> full report fee
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Customizable library</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container align-left">
                                <strong>1</strong> e-book per year
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container align-left">
                                <strong>2</strong> e-books per year
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> <em>Infoline</em></a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container align-left">
                                <strong>1</strong> digital issue per year
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container align-left">
                                <strong>4</strong> digital issues per year (quarterly)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Premium Webcasts</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                &mdash;
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> <em>T+D</em> magazine and archives<br>
                                <span class="text">print + web access to current issue, decades of electronic archives.</span></a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> <em>State of the Industry</em> report</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Discounts on publications, conferences, education programs, and the CPLP credential</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Member-only website content</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> <em>ASTD Links<em> &amp; <em>The Buzz</em> e-newsletters</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> ASTD Online Library powered by EDSCOhost</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Research whitepapers</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="cell-span4 cell-benefit last">
                            <div class="cell-container">
                                <a href="#modal-benefits" class="benefits-modal-link"><span class="arrow">&rsaquo;</span> Interactive member tools (job aids, checklists, calculators)</a>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member regular">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-green"></span>
                            </div>
                        </td>
                        <td class="cell-span4 cell-member plus">
                            <div class="cell-container">
                                <span class="icon icon-checkmark-orange"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="membership-table-footer table-grid">
                <div class="cell-span4">
                    <h4><a href="#"><span class="icon icon-nation"></span> Find your ASTD chapter</a></h4>
                </div>
                <div class="member-footer regular cell-span4">
                    <img src="images/graphics/logo-astd-professional-member.png" alt="ASTD Professional Member">
                    <ul class="price-plans">
                        <li>1 year for $229</li>
                        <li>2 years for $379</li>
                        <li>3 years for $529</li>
                    </ul>
                    <a href="#" class="button">Join Now</a>
                </div>
                <div class="member-footer plus cell-span4">
                    <img src="images/graphics/logo-astd-professional-plus-member.png" alt="ASTD Professional Plus Member">
                    <ul class="price-plans">
                        <li>1 year for $349</li>
                        <li>2 years for $499</li>
                        <li>3 years for $869</li>
                    </ul>
                    <a href="#" class="button">Join Now</a>
                </div>
            </div>
        </div>