        
        <header class="membership-header table-grid">
            <div class="cell-span4">
                <div class="row">
                    <h2>Choose Your Membership</h2>
                    <div class="table-benefits-header">
                        <h3>Benefits</h3>
                    </div>
                </div>
            </div>
            <div class="cell-span4 member-header regular">
                <div class="row">
                    <img src="images/graphics/logo-astd-professional-member.png" alt="ASTD Professional Member">
                    <a href="#" class="button">Join Now</a>
                </div>
            </div>
            <div class="cell-span4 member-header plus">
                <div class="row">
                    <img src="images/graphics/logo-astd-professional-plus-member.png" alt="ASTD Professional Plus Member">
                    <a href="#" class="button">Join Now</a>
                </div>
            </div>
        </header>