<section class="section testimonials">
    <div class="container">
        <header>
            <h2>Testimonials</h2>
        </header>
        <ul class="testimonials-slider slider">
            <li>
               <div class="row">
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>One of the things that ASTD does a great job of is not only organizing the right resources, but also making them accessible and actionable. As learning professionals, we know that it is important to get people connected to the right resources at the right time, and my ASTD membership really does that.</q>
                           <cite>&mdash; Drew Rabin, Senior Learning Strategist,<br> Booze Allen Hamilton</cite>
                       </blockquote>
                   </div>
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>My favorite member benefit is member pricing on the ASTD International Conference &amp; Exposition. I&rsquo;ve attended for about 18 years, and it is the number one thing that I do that makes me good at my job.</q>
                           <cite>&mdash; Mary Paramore, Director of Business &amp; Industry,<br> Pitt Community College</cite>
                       </blockquote>
                   </div>
               </div> 
            </li>
            <li>
               <div class="row">
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>One of the things that ASTD does a great job of is not only organizing the right resources, but also making them accessible and actionable. As learning professionals, we know that it is important to get people connected to the right resources at the right time, and my ASTD membership really does that.</q>
                           <cite>&mdash; Drew Rabin, Senior Learning Strategist,<br> Booze Allen Hamilton</cite>
                       </blockquote>
                   </div>
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>My favorite member benefit is member pricing on the ASTD International Conference &amp; Exposition. I&rsquo;ve attended for about 18 years, and it is the number one thing that I do that makes me good at my job.</q>
                           <cite>&mdash; Mary Paramore, Director of Business &amp; Industry,<br> Pitt Community College</cite>
                       </blockquote>
                   </div>
               </div> 
            </li>
            <li>
               <div class="row">
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>One of the things that ASTD does a great job of is not only organizing the right resources, but also making them accessible and actionable. As learning professionals, we know that it is important to get people connected to the right resources at the right time, and my ASTD membership really does that.</q>
                           <cite>&mdash; Drew Rabin, Senior Learning Strategist,<br> Booze Allen Hamilton</cite>
                       </blockquote>
                   </div>
                   <div class="span6">
                       <blockquote>
                           <img src="http://placehold.it/150x100&text=photo" alt="Author">
                           <span class="icon icon-quotation-mark"></span>
                           <q>My favorite member benefit is member pricing on the ASTD International Conference &amp; Exposition. I&rsquo;ve attended for about 18 years, and it is the number one thing that I do that makes me good at my job.</q>
                           <cite>&mdash; Mary Paramore, Director of Business &amp; Industry,<br> Pitt Community College</cite>
                       </blockquote>
                   </div>
               </div> 
            </li>
        </ul>
    </div>
</section>