
        <aside class="plan-callout">
            <header>
                <a href="#modal-join-renew" class="modal-link">Join/renew by mail, fax, or phone</a>
            </header>
            <ul class="member-categories row">
                <li class="span4">
                    <header>
                        <a href="#" class="icon-container">
                            <span class="icon icon-student"></span>
                        </a>
                        <h4><a href="#">Students</a></h4>
                    </header>
                    <section>
                        For students who are enrolled in a minimum of 12 credit hours per year at an accredited university or college OR who are active ASTD chapter student members.
                    </section>
                </li>
                <li class="span4">
                    <header>
                        <a href="#" class="icon-container">
                            <span class="icon icon-group"></span>
                        </a>
                        <h4><a href="#">Groups &amp; Enterprise</a></h4>
                    </header>
                    <section>
                        For students who are enrolled in a minimum of 12 credit hours per year at an accredited university or college OR who are active ASTD chapter student members.
                    </section>
                </li>
                <li class="span4">
                    <header>
                        <a href="#" class="icon-container">
                            <span class="icon icon-star"></span>
                        </a>
                        <h4><a href="#">Seniors</a></h4>
                    </header>
                    <section>
                        For students who are enrolled in a minimum of 12 credit hours per year at an accredited university or college OR who are active ASTD chapter student members.
                    </section>
                </li>
            </ul>
        </aside>