<section class="section">
    <header class="section-banner">
        <div class="container">
            <h2>Customize Your Membership With These Add-Ons</h2>
        </div>
    </header>
    <div class="container">
        <p>Tailor your membership with these robust digital and print subscriptions.</p>
        <ul class="og-grid">
            <li>
                <a href="#">
                    <img src="http://placehold.it/290x150&text=Photo" alt="Photo">
                    <h4><em>Infoline</em></h4>
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span2 title-container">
                            <h4><a href="#"><em>Infoline</em></a></h4>
                        </div>
                        <div class="span9 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, sapiente cum obcaecati non ea quis commodi aliquam doloremque rem itaque quia porro quo voluptate molestiae tempore voluptates ad. Nisi, recusandae.</p>
                            <div class="subscriptions-container">
                                <div class="subscription">
                                    <h4>Print Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><strong>U.S.</strong></th>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <th><strong>Outside of U.S.</strong></th>
                                                <td>$139.00</td>
                                                <td>$179.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                                <div class="subscription">
                                    <h4>Digital Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <td>&mdash;</td>
                                                <td>&mdash;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="http://placehold.it/290x150&text=Photo" alt="Photo">
                    <h4>ASTD Links Plus</h4>
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span2 title-container">
                            <h4><a href="#">ASTD Links Plus</a></h4>
                        </div>
                        <div class="span9 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, minus, doloribus ipsa fugit mollitia suscipit culpa corporis sint explicabo nesciunt maxime adipisci provident itaque ad esse dolorum blanditiis nisi ex?</p>
                            <div class="subscriptions-container">
                                <div class="subscription">
                                    <h4>Print Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><strong>U.S.</strong></th>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <th><strong>Outside of U.S.</strong></th>
                                                <td>$139.00</td>
                                                <td>$179.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                                <div class="subscription">
                                    <h4>Digital Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <td>&mdash;</td>
                                                <td>&mdash;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="http://placehold.it/290x150&text=Photo" alt="Photo">
                    <h4>Sales Enablement Community</h4>
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span2 title-container">
                            <h4><a href="#">Sales Enablement Community</a></h4>
                        </div>
                        <div class="span9 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, impedit, repellat, eum rerum eaque beatae quae aliquid ea repudiandae alias nesciunt similique quo possimus maiores voluptatem in tenetur quis culpa.</p>
                            <div class="subscriptions-container">
                                <div class="subscription">
                                    <h4>Print Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><strong>U.S.</strong></th>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <th><strong>Outside of U.S.</strong></th>
                                                <td>$139.00</td>
                                                <td>$179.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                                <div class="subscription">
                                    <h4>Digital Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <td>&mdash;</td>
                                                <td>&mdash;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <img src="http://placehold.it/290x150&text=Photo" alt="Photo">
                    <h4>The Public Manager</h4>
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span2 title-container">
                            <h4><a href="#">The Public Manager</a></h4>
                        </div>
                        <div class="span9 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, illum, ipsum consectetur reiciendis delectus repudiandae consequuntur commodi pariatur autem minus ullam consequatur. At, vitae, modi ad voluptatum dignissimos omnis iure!</p>
                            <div class="subscriptions-container">
                                <div class="subscription">
                                    <h4>Print Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><strong>U.S.</strong></th>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <th><strong>Outside of U.S.</strong></th>
                                                <td>$139.00</td>
                                                <td>$179.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="button small pull-right">Add to Cart</a>
                                </div>
                                <div class="subscription">
                                    <h4>Digital Subscription</h4>
                                    <table class="table-simple">
                                        <thead>
                                            <tr>
                                                <th><strong>Member</strong></th>
                                                <th><strong>List</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>$99.00</td>
                                                <td>$139.00</td>
                                            </tr>
                                            <tr>
                                                <td>&mdash;</td>
                                                <td>&mdash;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right"><span class="icon icon-x-green"></span></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>