
<section class="section">
    <header class="section-banner">
        <div class="container">
            <h2>Latest Book Summaries for ASTD Members</h2>
        </div>
    </header>
    <div class="container secondary">
        <ul class="standard slider">
            <li>
                <div class="table-grid">
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                </div>
            </li>
            <li>
                <div class="table-grid">
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                </div>
            </li>
            <li>
                <div class="table-grid">
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                    <div class="cell-span3 align-center">
                        <img src="http://placehold.it/125x150&text=Book" alt="Book">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>