<section class="section">
    <header class="section-banner">
        <div class="container">
            <h2>Communities of Practice</h2>
        </div>
    </header>
    <div class="container">
        <p>Each community focuses on a key area of the training and development field and is led by a community manager whose in-depth knowledge will ensure that the content, offerings, and resources are consistent with your needs.</p>
        <ul class="og-grid pill-grid">
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color first"></span> Career Development
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Career Development</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color second"></span> Global Human Resources Development
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Global Human Resources Development</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color third"></span> Government
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Government</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color fourth"></span> Human Capital
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Human Capital</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color fifth"></span> Learning &amp; Development
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Learning &amp; Development</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color sixth"></span> Learning Technologies
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Learning Technologies</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color seventh"></span> Sales Enablement
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Sales Enablement</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color eighth"></span> Senior Leaders &amp; Executives
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Senior Leaders &amp; Executives</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="button secondary pill">
                    <span class="color ninth"></span> Workforce Development
                </a>
                <div class="og-expander">
                    <div class="og-expander-inner row">
                        <div class="span3 title-container">
                            <h4><a href="#">Workforce Development</a></h4>
                        </div>
                        <div class="span8 description-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, eveniet, possimus ea quos nemo inventore saepe est necessitatibus officia minima nam perferendis nisi accusantium error soluta impedit ipsum illo perspiciatis.</p>
                        </div>
                        <div class="span1">
                            <a href="#" class="close-expander pull-right">
                                <span class="icon icon-x-green"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>