
<section class="section">
    <header class="section-banner">
        <div class="container">
            <form action="" class="search-form">
                <label>Narrow Results:</label>
                <div class="input-container">
                    <input type="text" class="input-text" placeholder="Search member resources">
                    <input type="submit" class="search-button">
                </div>
                <a href="#"><strong>[ + ] Show Filters</strong></a>
            </form>
            <h2>New for Members</h2>
        </div>
    </header>
    <div class="container search-results">
        <nav class="nav-filter">
            <small><strong>Sort by: </strong> Date | <a href="#"><strong>Name</strong></a></small>
        </nav>
        <ul class="articles">
            <li class="featured-article">
                <span class="ribbon featured">Popular</span>
                <div class="row">
                    <div class="span2">
                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                    </div>
                    <div class="span9">
                        <header class="article-header">
                            <small class="meta">
                                <strong class="notice">New!</strong> <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                            </small>
                            <h3><a href="#">Article Title Goes Here</a></h3>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                        <ul class="article-info">
                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="span2">
                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                    </div>
                    <div class="span9">
                        <header class="article-header">
                            <small class="meta">
                                <strong class="notice">New!</strong> <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                            </small>
                            <h3><a href="#">Article Title Goes Here</a></h3>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                        <ul class="article-info">
                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="span2">
                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                    </div>
                    <div class="span9">
                        <header class="article-header">
                            <small class="meta">
                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                            </small>
                            <h3><a href="#">Article Title Goes Here</a></h3>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                        <ul class="article-info">
                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="span2">
                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                    </div>
                    <div class="span9">
                        <header class="article-header">
                            <small class="meta">
                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                            </small>
                            <h3><a href="#">Article Title Goes Here</a></h3>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                        <ul class="article-info">
                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="span2">
                        <img src="http://placehold.it/130x120&text=Photo" alt="Article Image">
                    </div>
                    <div class="span9">
                        <header class="article-header">
                            <small class="meta">
                                <time datetime="2013-08-01">08.01.13</time> <span class="divider">|</span> by Halelly Azulay from <a href="#">ASTD Links</a>
                            </small>
                            <h3><a href="#">Article Title Goes Here</a></h3>
                        </header>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, maxime, laborum cumque ducimus doloremque necessitatibus corrupti possimus recusandae tenetur!</p>
                        <ul class="article-info">
                            <li><span class="icon icon-group-small"></span> <a href="#">Learning &amp; Development</a></li>
                            <li><span class="icon icon-tag"></span> <a href="#">Delivering Training</a>, <a href="#">Designing Learning</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="button full secondary">Load more resources</a>
    </div>
</section>