<div class="modal" id="modal-benefits">
    <ul class="carousel">
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Community of Practice premium content</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Research reports (full)</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Customizable library</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#"><em>Infoline</em></a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Premium Webcasts</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#"><em>T+D</em> magazine and archives</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#"><em>State of the Industry</em> report</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Discounts on publications, conferences, education programs, and the CPLP credential</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Member-only website content</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#"><em>ASTD Links &amp; The Buzz</em> e-newsletters</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">ASTD Online Library powered by EBSCOhost</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Research whitepapers</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span4">
                    <img src="http://placehold.it/180x140&text=Photo" alt="Photo">
                </div>
                <div class="span8">
                    <h3><a href="#">Interactive member tools (job aids, checklists, calculators)</a></h3>
                    <p>Regular features and practical view on industry trends, best practices, career development, product reviews, and more; includes access to online archive.</p>
                    <small><a href="#"><strong>Read more</strong></a></small>
                </div>
            </div>
        </li>
    </ul>
</div>