<div class="modal" id="modal-chat">
    <div class="modal-banner">
        <span class="icon icon-chat"></span>
        <h3>Chat now with a live representative</h3>
    </div>
    <section>
        <header class="modal-header">
            <h3>ASTD Customer Care Center</h3>
            <em>Monday - Friday 8:00 am - 6:00 pm ET</em>
        </header>
        <ul>
            <li>
                <strong>Phone:</strong> 1.800.628.2783 (U.S.) &middot; 1.703.683.8100
            </li>
            <li>
                <strong>Email:</strong> <a href="mailto://customercare@astd.org">customercare@astd.org</a>
            </li>
            <li>
                <strong>Fax:</strong> 1.703.299.8723
            </li>
        </ul>
        <a href="#" class="modal-close"><span class="icon icon-x-green"></span></a>
    </section>
</div>