<div class="modal" id="modal-join-renew">
    <header class="modal-header">
        <h3>Join/Renew by mail, fax or phone</h3>
    </header>
    <div class="grid-table">
        <div class="cell-span4">
            <h6>Downloadable applications:</h6>
            <ul>
                <li>
                    <a href="#">
                        <span class="icon icon-pdf"></span> <strong>Member Application</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-pdf"></span> <strong>Membership Transfer Application</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-pdf"></span> <strong>Power Membership Application</strong>
                    </a>
                    <em>For ASTD chapter members; save on national ASTD membership with this special discounted application</em>
                </li>
                <li>
                    <a href="#">
                        <span class="icon icon-pdf"></span> <strong>Student Membership Application</strong>
                    </a>
                    <em>For full-time students or active ASTD Chapter student members</em>
                </li>
            </ul>
        </div>
        <div class="cell-span4">
            <h6>Payment:</h6>
            <p>We accept check, credit card payment, or wire transfer. Contact <a href="mailto:customercare@astd.org">customercare@astd.org</a> for wire transfer instructions.</p>
        </div>
        <div class="cell-span4">
            <section class="subsection">
                <h6>Mail your application to:</h6>
                <p>
                    ASTD<br>
                    Membership Department<br>
                    P.O. Box 1567<br>
                    Merrifield, VA 22116-1567 USA
                </p>
            </section>
            <section class="subsection">
                <h6>Fax:</h6>
                <p>1.703.299.8723</p>
            </section>
            <section class="subsection">
                <h6>Phone:</h6>
                <p>
                    ASTD Customer Care<br>
                    Monday - Friday 8:00 am - 6:00 pm US ET<br>
                    1.800.628.2783 (U.S.) &middot; 1.703.683.8100
                </p>
            </section>
        </div>
    </div>
</div>