<div class="modal" id="modal-renew">
    <header class="modal-header plan-regular">
        <h2>You&rsquo;re almost there!</h2>
        <nav>
            <ul>
                <li>1 year for $229</li>
                <li>
                    <img src="images/graphics/logo-astd-professional-member.png" alt="ASTD Professional Member">    
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <form>
            <div class="subsection">
                <header class="subsection-header">
                    <h3>Choose Your Communities</h3>
                    <span>(choose 4, $30 each additional)</span>
                </header>
                <ul class="row">
                    <li class="span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Career Development
                        </label>
                    </li>
                    <li class="span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Government
                        </label>
                    </li>
                    <li class="omega span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Workforce Development
                        </label>
                    </li>
                    <li class="span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Global HRD
                        </label>
                    </li>
                    <li class="omega span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Human Capital
                        </label>
                    </li>
                    <li class="span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Sales Enablement
                        </label>
                    </li>
                    <li class="omega span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Learning Technologies
                        </label>
                    </li>
                    <li class="span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Senior Leaders and Executives
                        </label>
                    </li>
                    <li class="omega span6">
                        <label>
                            <input type="checkbox" class="input-checkbox"> Learning and Development
                        </label>
                    </li>
                </ul>
            </div>
            <div class="subsection">
                <ul class="big-points">
                    <li>
                        <label>
                            <input type="checkbox" class="input-checkbox"> I&rsquo;d like to also receive <em>Infolines</em> monthly. <em class="highlight">(add $XX)</em>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="input-checkbox"> I want to opt-in to ASTD&rsquo;s auto-renewal program and have my membership automatically renew on my membership end date
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" class="input-checkbox"> <span class="icon icon-leaf"></span> I want to go green and opt-out of T+D <strong>print</strong> magazine (<strong>digital</strong> access is still available)
                        </label>
                    </li>
                </ul>
                <div class="row">
                    <button class="button secondary light small pull-left">Add to Cart &amp; Continue Shopping</button>
                    <button class="button light small pull-right">Checkout Now</button>
                </div>
            </div>
            <div class="subsection">
                <header class="subsection-header">
                    <h3>You May Also Be Interested In</h3>
                </header>
                <ul class="modal-slider">
                    <li>
                        <div class="row">
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="span5">
                                    <img src="http://placehold.it/130x100&text=Photo" alt="Photo">
                                </div>
                                <div class="span7">
                                    <h5><a href="#">ASTD Links Plus</a></h5>
                                    <ul>
                                        <li><strong>List:</strong> $399.00</li>
                                        <li><strong>Member:</strong> $89.00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </section>
</div>